.navbar{
    background:#c300f9;
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #c300f9;
}
.navbar-collapse{
    /*The new Bootstrap Grid is built with the Flexbox system, 
        so for alignment you have to use a Flexbox property*/
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#343a40!important
}